@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans HK', sans-serif;
  padding-bottom: 10%;
   height: 100vh; 
}

code {
  font-family: 'Noto Sans HK', sans-serif;
}
