@media all and (min-width: 480px) {
    .Login {
      background-color: white;
      padding: 60px;  
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

  .everything{
      background-color: rgb(227, 242, 252);
      /* padding-top: 60px;
      padding-left: 1011px;
      padding-right: 100%; 
      padding-bottom: 60px; */
      
  }
}

  