.makepost {
    flex: 0.9;
    padding: 20px;
    align-items: left;
    text-align: left;
    width: 70%
}

.makepostForm {
    /* display: flex; */
    align-items: left;
    text-align: left;
    justify-content: flex-start;
    padding-left: 20px;
    width: 70%;
}

.formlabel {
    text-align: 'left';
}
/* .form-inline {
    width: 100%;
  }
  
  .form-group {
    width: 90%;
  } */
/* .form-control {
    width: 70%;
} */

/* puts a border around the input text boxes */
.inputBoxes {
    border: 2px solid black;
} 