.messages{
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    align-content: flex-start;
}

.sendNewMessage{
    padding-left: 20px;
    display: flex;
    align-content: flex-start;
}

.table {
    align-content: center;
    margin: 25px 0 0 25px;
}




