.messages{
    /*padding-left: 30px;
    padding-top: 30px; */
    padding: 20px;
    display: flex;
    align-content: flex-start;
    font-weight: bold;
}

.sendNewMessage{
    /*padding-left: 20px; */
    margin-left: 20px;
    display: flex;
    align-content: flex-start;
}

.table {
    align-content: center;
    margin: 25px 0 0 25px;
}

.container {
    display: flex;
    align-items: stretch;
}



