.postHistory{
    padding-left: 45%;
    padding-top: 50px;
    display: flex;
    align-content: center;
    font-weight: bolder;
}

.table {
    display: flex;
    align-content: center;
    /*margin: 25px 0 0 25px; */
}

.aroundTable{
    padding-left: 175px;
}