.profile {
    flex: 0.9;
    padding: 20px;
}
.card_wrapper {
    width: 50%;
    align-items: center;   
    /* padding: 10px; */

}   
.profileForm {
    text-align: left;
    display: flex;
    /* border:2px black; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    padding-left: 50%;
}

.title_profile{
    font-weight: bold;
    display: inline-block;
    margin-right:16%;
    margin-left: 4%;
    /* paddig-left: 50%; */
    padding-top: 20px;
    padding-bottom: 50px;
}
/* .divider{
    width: 10px;
    height: auto;
    display: inline-block; */
 /* } */

.inputBoxes {
    border: 2px solid grey;
    border-radius: 30px;
}

.card {
    position: absolute;
    top: 45%;
    width:33%;
    left:22%;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: white  ;
}

.stats {
    /* margin-right: 10%; */
    background: #f2f5f8 !important;
    color: #000 !important
}

.year {
    font-size: 10px;
    color: #a1aab9;
}



.phone_number {
    font-size: 10px;
    color: #a1aab9;
}


.email {
    font-size: 10px;
    color: #a1aab9;
}
